.husky/
.vscode/
coverage/
dist/
node_modules/

src/api/
src/**/*.spec.ts
src/**/*.spec.tsx
src/**/*.test.ts
src/**/*.test.tsx
src/**/__tests__/**

.dockerignore
.env
.env.dist
.gitignore
.prettierignore
.gitlab-ci.yml
yarn.lock
Dockerfile
README.md
.codeclimate.yml
CODEOWNERS
.npmrc
.nvmrc

*.bash
*.sh
*.html
*.min.js
*.svg
*.ttf
*.woff
*.woff2
*.pdf
