.husky/
.vscode/
coverage/
dist/
node_modules/

.dockerignore
.env
.env.dist
.gitignore
.prettierignore
.gitlab-ci.yml
yarn.lock
Dockerfile
README.md
.codeclimate.yml
CODEOWNERS
.npmrc
.nvmrc

*.bash
*.sh
*.html
*.min.js
*.svg
*.ttf
*.woff
*.woff2
*.pdf
